In [4]:
import pandas as pd 

New_post_comments=pd.read_csv("datos/new_post_comments.csv")
New_post_comments.head()

                                             comment      id
0  Hi u/radome9! Welcome to r/RussiaUkraineWar202...  y3lwyt
1  How fucked up is it that the promise of NOT be...  y3lwyt
2  * Shooting your commanding officer? 8 years.\n...  y3lwyt
3                                           Glorious  y3lwyt
4  Hi u/MrAutoFem! Welcome to r/RussiaUkraineWar2...  y3kp8y

In [5]:
Hot_post_comments=pd.read_csv("datos/hot_post_comments.csv")
Hot_post_comments.head()

                                             comment      id
0  Hi u/CFlower240! Thank you for contributing to...  v0gm37
1  Hi u/TacticalWarri0r! Welcome to r/RussiaUkrai...  y26xch
2  These lads gona mop the floor with russias shi...  y26xch
3  These will be elite\n\nThey'll make a dent whe...  y26xch
4  Well done UK, don’t forget we have been traini...  y26xch

In [6]:
Controversial_posts_comments=pd.read_csv("datos/controversial_posts_comments.csv")
Controversial_posts_comments.head()

                                             comment      id
0  Hi u/BasharAlAspaci! Thank you for contributin...  u5o56g
1  Even tho im getting downvoted to hell im glad ...  u5o56g
2  As a brit I'm offended that we wernt mentioned...  u5o56g
3                              How is he still alive  u5o56g
4  We need a drone dedicated to his traitor fuckt...  u5o56g

In [7]:
Top_posts_comments=pd.read_csv("datos/top_posts_comments.csv")
Top_posts_comments.head()

                                             comment      id
0  Hi u/MrAutoFem! Thank you for contributing to ...  ueslps
1  Hi u/TacticalWarri0r! Welcome to r/RussiaUkrai...  y26xch
2  These lads gona mop the floor with russias shi...  y26xch
3  These will be elite\n\nThey'll make a dent whe...  y26xch
4  Well done UK, don’t forget we have been traini...  y26xch

In [9]:
New_post_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16435 entries, 0 to 16434
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  16435 non-null  object
 1   id       16435 non-null  object
dtypes: object(2)
memory usage: 256.9+ KB

In [10]:
Hot_post_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15072 entries, 0 to 15071
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  15072 non-null  object
 1   id       15072 non-null  object
dtypes: object(2)
memory usage: 235.6+ KB

In [11]:
Controversial_posts_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16897 entries, 0 to 16896
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  16897 non-null  object
 1   id       16897 non-null  object
dtypes: object(2)
memory usage: 264.1+ KB

In [12]:
Top_posts_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64906 entries, 0 to 64905
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  64906 non-null  object
 1   id       64906 non-null  object
dtypes: object(2)
memory usage: 1014.3+ KB

In [13]:
All_posts_comments=pd.concat([New_post_comments, Hot_post_comments, Controversial_posts_comments, Top_posts_comments])
display(All_posts_comments)

                                                 comment      id
0      Hi u/radome9! Welcome to r/RussiaUkraineWar202...  y3lwyt
1      How fucked up is it that the promise of NOT be...  y3lwyt
2      * Shooting your commanding officer? 8 years.\n...  y3lwyt
3                                               Glorious  y3lwyt
4      Hi u/MrAutoFem! Welcome to r/RussiaUkraineWar2...  y3kp8y
...                                                  ...     ...
64901  Guy looks like a solid warrior and she looks l...  ueathx
64902                                      Strong  photo  ueathx
64903  Ukraine is giving us all a lesson in courage a...  ueathx
64904                   edit:\n\nthe world lives Ukraine  ueathx
64905  This may be the best wedding photo I’ve ever s...  ueathx

[113310 rows x 2 columns]

In [14]:
All_posts_comments.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113310 entries, 0 to 64905
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   comment  113310 non-null  object
 1   id       113310 non-null  object
dtypes: object(2)
memory usage: 2.6+ MB